.status {
  align-items: center;
  display: flex;
}
.status > *:not(:last-child) {
  margin-right: 10px;
}
.coin{
  color: #4FDF4C;
}
.countGpu{
  color: #42A2F8;
}
.temp{
  color: #E34D4D;
}

/********** dropdown **********/

.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
}

.dropdown--active .dropdown__content {
    display: block;
}
